<div class="w-full">
  <%= render TurboModalComponent.new(title: "Statistics") do %>
    <div class="flex space-x-6">
      <div class="flex flex-col items-center">
        <span id="wpm" class="text-2xl"></span>
        <span class="font-light">WPM</span>
      </div>
      <div class="flex flex-col items-center">
        <span id="accuracy" class="text-2xl"></span>
        <span class="font-light">Accuracy</span>
      </div>
      <div class="flex flex-col items-center">
        <span id="time-elapsed" class="text-2xl"></span>
        <span class="font-light">Time (s)</span>
      </div>
    </div>
  <% end %>
</div>