<%= turbo_frame_tag "calendar", class: "w-full" do %>
  <%= render partial: 'calendar/shared/buttons', locals: { view: 'week'} %>
  <%= week_calendar do |date| %>
  <div class="h-14 md:h-24">
    <%= content_tag(:div, date.day, class: "pt-1 text-center") %>
  </div>
  <% end %>
<% end %>
