<div class="flex flex-col items-center">
  <h1 class="font-bold text-4xl my-4 items-start">Contact Info</h1>
  <hr class="divider py-4"/>
  <p class="mb-6"><%= fa_icon("envelope", class: "fa-x pr-2") %>xryanwolfe@gmail.com</p>
  <div id="icon-links" class="flex space-x-8">
    <%= render 'contact/linkedin_link' %>
    <%= render 'contact/github_link' %>
  </div>
</div>
