<div class="flex md:space-x-4 md:order-2">
  <%= link_to "Sign in", new_user_session_path, class: "navbar-header border-0" %>
  <%= link_to "Sign up", new_user_registration_path, class: "navbar-header border-0" %>
  <%= render 'layouts/navbar/mobile_menu_button' %>
</div>